In [1]:
import pandas as pd
import numpy as np

# import data from csv file
air_y = pd.read_csv('aqi_daily_1980_to_2021.csv')
air_x = pd.read_csv('pollution_2000_2021.csv')

In [2]:
air_x.head()

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [3]:
air_y.head()

,State Name,Date,AQI,Category,Defining Parameter,Latitude,Longitude,County Name
0,Alabama,2021-01-01,30,Good,Ozone,34.289001,-85.970065,DeKalb
1,Alabama,2021-01-02,27,Good,Ozone,34.289001,-85.970065,DeKalb
2,Alabama,2021-01-03,34,Good,Ozone,34.289001,-85.970065,DeKalb
3,Alabama,2021-01-04,36,Good,Ozone,34.289001,-85.970065,DeKalb
4,Alabama,2021-01-05,31,Good,Ozone,34.289001,-85.970065,DeKalb

In [4]:
# Sort the y data by matching it to the dates and locations in x data
air_y = air_y.sort_values(by=['Date', 'State Name', 'County Name'])
# Your code still doesn't match them becuase one is from 1980-2021 while the other is from 2000-2021
# You need to remove the 1980-1999 data from the y data
air_y = air_y[air_y['Date'] >= '2000-01-01']
air_y = air_y.reset_index(drop=True)

air_y.head()

,State Name,Date,AQI,Category,Defining Parameter,Latitude,Longitude,County Name
0,Alabama,2000-01-01,67,Moderate,PM2.5,33.284928,-85.803608,Clay
1,Alabama,2000-01-01,52,Moderate,PM2.5,34.289001,-85.970065,DeKalb
2,Alabama,2000-01-01,11,Good,PM10,31.092100,-87.543500,Escambia
3,Alabama,2000-01-01,37,Good,PM10,33.904039,-86.053867,Etowah
4,Alabama,2000-01-01,79,Moderate,PM2.5,33.565278,-86.796389,Jefferson

In [5]:
# make it change the column name from state name to state
air_y = air_y.rename(columns={'State Name': 'State'})
air_y = air_y.rename(columns={'County Name': 'County'})

air_y

,State,Date,AQI,Category,Defining Parameter,Latitude,Longitude,County
0,Alabama,2000-01-01,67,Moderate,PM2.5,33.284928,-85.803608,Clay
1,Alabama,2000-01-01,52,Moderate,PM2.5,34.289001,-85.970065,DeKalb
2,Alabama,2000-01-01,11,Good,PM10,31.092100,-87.543500,Escambia
3,Alabama,2000-01-01,37,Good,PM10,33.904039,-86.053867,Etowah
4,Alabama,2000-01-01,79,Moderate,PM2.5,33.565278,-86.796389,Jefferson
...,...,...,...,...,...,...,...,...
6340079,California,2021-05-02,3,Good,PM2.5,39.189190,-121.998870,Colusa
6340080,California,2021-05-03,7,Good,PM2.5,39.189190,-121.998870,Colusa
6340081,California,2021-05-04,3,Good,PM2.5,39.189190,-121.998870,Colusa
6340082,California,2021-05-05,11,Good,PM2.5,39.189190,-121.998870,Colusa
6340083,California,2021-05-06,3,Good,PM2.5,39.189190,-121.998870,Colusa

In [6]:
# make sure the x data is sorted by name and date
air_x = air_x.sort_values(by=['State', 'County', 'Date'])
air_x = air_x.reset_index(drop=True)

air_x.head()

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2013-12-01,2013,12,1,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.014176,0.026,...,0,6.0,0.313636,1.0,11,1.0,17.208333,39.3,18,37
1,2013-12-02,2013,12,2,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.008706,0.012,...,0,6.0,0.530000,2.4,11,3.0,20.687500,32.4,7,30
2,2013-12-03,2013,12,3,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.008059,0.012,...,0,3.0,0.305263,2.3,11,3.0,14.912500,22.4,17,21
3,2013-12-04,2013,12,4,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.011118,0.014,...,20,2.0,0.131818,1.3,17,1.0,7.825000,19.3,17,18
4,2013-12-05,2013,12,5,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.011176,0.014,...,19,2.0,0.000000,1.1,0,1.0,8.004762,16.0,7,15

In [8]:
# Merge the two dataframes based on date, state, and county
air = pd.merge(air_x, air_y, on=['Date', 'State', 'County'])
air

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,AQI,Category,Defining Parameter,Latitude,Longitude
0,2013-12-01,2013,12,1,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.014176,0.026,...,1.0,17.208333,39.3,18,37,54,Moderate,PM2.5,33.565278,-86.796389
1,2013-12-02,2013,12,2,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.008706,0.012,...,3.0,20.687500,32.4,7,30,60,Moderate,PM2.5,33.565278,-86.796389
2,2013-12-03,2013,12,3,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.008059,0.012,...,3.0,14.912500,22.4,17,21,62,Moderate,PM2.5,33.565278,-86.796389
3,2013-12-04,2013,12,4,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.011118,0.014,...,1.0,7.825000,19.3,17,18,53,Moderate,PM2.5,33.565278,-86.796389
4,2013-12-05,2013,12,5,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,0.011176,0.014,...,1.0,8.004762,16.0,7,15,39,Good,PM2.5,33.565278,-86.796389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586160,2008-11-07,2008,11,7,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,Wyoming,Uinta,Not in a city,0.023118,0.026,...,0.0,2.083333,5.0,6,5,24,Good,Ozone,41.408699,-110.702153
586161,2008-11-08,2008,11,8,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,Wyoming,Uinta,Not in a city,0.021471,0.029,...,0.0,3.260870,11.0,20,10,27,Good,Ozone,41.408699,-110.702153
586162,2008-11-09,2008,11,9,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,Wyoming,Uinta,Not in a city,0.020529,0.023,...,3.0,3.458333,8.0,0,8,21,Good,Ozone,41.408699,-110.702153
586163,2008-11-10,2008,11,10,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,Wyoming,Uinta,Not in a city,0.024412,0.026,...,1.0,1.791667,6.0,4,6,24,Good,Ozone,41.408699,-110.702153
586164,2008-11-11,2008,11,11,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,Wyoming,Uinta,Not in a city,0.027529,0.029,...,0.0,1.782609,3.0,15,3,27,Good,Ozone,41.408699,-110.702153

In [18]:
# Make the air_y the last 5 columns from the air dataframe
air_y = air.iloc[:, -5:]
# add the dates to the air_y dataframe
air_y['Date'] = air['Date']
air_y['State'] = air['State']
air_y

,AQI,Category,Defining Parameter,Latitude,Longitude,Date,State
0,54,Moderate,PM2.5,33.565278,-86.796389,2013-12-01,Alabama
1,60,Moderate,PM2.5,33.565278,-86.796389,2013-12-02,Alabama
2,62,Moderate,PM2.5,33.565278,-86.796389,2013-12-03,Alabama
3,53,Moderate,PM2.5,33.565278,-86.796389,2013-12-04,Alabama
4,39,Good,PM2.5,33.565278,-86.796389,2013-12-05,Alabama
...,...,...,...,...,...,...,...
586160,24,Good,Ozone,41.408699,-110.702153,2008-11-07,Wyoming
586161,27,Good,Ozone,41.408699,-110.702153,2008-11-08,Wyoming
586162,21,Good,Ozone,41.408699,-110.702153,2008-11-09,Wyoming
586163,24,Good,Ozone,41.408699,-110.702153,2008-11-10,Wyoming
586164,27,Good,Ozone,41.408699,-110.702153,2008-11-11,Wyoming

In [19]:
# Write code that goes through the entire x data frame and searches to find the earliest date for each state

def find_earliest_date(state):
    earliest_date = air_x.loc[air_x['State'] == state, 'Date'].min()
    return earliest_date

# Make a list of all the states
states = air_x['State'].unique()

# Make a dictionary of all the earliest dates for each state
earliest_dates = {}
for state in states:
    earliest_dates[state] = find_earliest_date(state)
# sort the dictionary by date
earliest_dates = dict(sorted(earliest_dates.items(), key=lambda item: item[1]))
earliest_dates

{'Arizona': '2000-01-01',
 'California': '2000-01-01',
 'Colorado': '2000-01-01',
 'District Of Columbia': '2000-01-01',
 'Florida': '2000-01-01',
 'Kansas': '2000-01-01',
 'Louisiana': '2000-01-01',
 'New Jersey': '2000-01-01',
 'New York': '2000-01-01',
 'Pennsylvania': '2000-01-01',
 'Texas': '2000-01-01',
 'Virginia': '2000-01-01',
 'Illinois': '2000-01-06',
 'Kentucky': '2000-02-29',
 'Oklahoma': '2000-03-02',
 'Indiana': '2000-03-31',
 'Michigan': '2000-03-31',
 'Missouri': '2000-03-31',
 'North Carolina': '2000-03-31',
 'Wisconsin': '2000-04-14',
 'Washington': '2000-05-03',
 'Massachusetts': '2001-04-01',
 'Nevada': '2001-10-01',
 'New Hampshire': '2002-03-31',
 'Tennessee': '2002-04-05',
 'South Carolina': '2003-02-27',
 'Maine': '2006-01-01',
 'Maryland': '2006-02-15',
 'Connecticut': '2006-04-04',
 'Iowa': '2006-10-01',
 'Arkansas': '2007-01-01',
 'Wyoming': '2007-01-01',
 'Oregon': '2007-05-02',
 'North Dakota': '2008-01-01',
 'Ohio': '2009-04-08',
 'Idaho': '2009-04-30',
 'Georgia': '2010-10-01',
 'Delaware': '2011-01-01',
 'Hawaii': '2011-01-01',
 'Minnesota': '2011-01-01',
 'New Mexico': '2011-01-01',
 'South Dakota': '2011-01-01',
 'Utah': '2011-01-01',
 'Rhode Island': '2011-06-01',
 'Alabama': '2013-12-01',
 'Alaska': '2014-07-01',
 'Mississippi': '2015-01-01',
 'Vermont': '2016-03-14'}

In [22]:
# Write code that deleates all data that is before 2016-03-14 for each state from the x data and y data
for state in earliest_dates:
    air_x = air_x.drop(air_x[(air_x['State'] == state) & (air_x['Date'] < earliest_dates['Vermont'])].index)
    air_y = air_y.drop(air_y[(air_y['State'] == state) & (air_y['Date'] < earliest_dates['Vermont'])].index)

air_y

,AQI,Category,Defining Parameter,Latitude,Longitude,Date,State
698,44,Good,Ozone,33.565278,-86.796389,2016-03-14,Alabama
699,73,Moderate,PM2.5,33.565278,-86.796389,2016-03-15,Alabama
700,57,Moderate,PM2.5,33.565278,-86.796389,2016-03-16,Alabama
701,53,Moderate,PM2.5,33.565278,-86.796389,2016-03-17,Alabama
702,48,Good,Ozone,33.565278,-86.796389,2016-03-18,Alabama
...,...,...,...,...,...,...,...
585028,34,Good,Ozone,41.182227,-104.778334,2020-12-27,Wyoming
585029,29,Good,Ozone,41.182227,-104.778334,2020-12-28,Wyoming
585030,38,Good,Ozone,41.182227,-104.778334,2020-12-29,Wyoming
585031,41,Good,Ozone,41.182227,-104.778334,2020-12-30,Wyoming
585032,3,Good,PM10,41.182227,-104.778334,2020-12-31,Wyoming

In [26]:
# Write code that goes through the entire x data frame and searches to find the earliest date for each state

def find_latest_date(state):
    earliest_date = air_x.loc[air_x['State'] == state, 'Date'].max()
    return earliest_date

# Make a list of all the states
states = air_x['State'].unique()

# Make a dictionary of all the earliest dates for each state
latest_dates = {}
for state in states:
    latest_dates[state] = find_latest_date(state)
# sort the dictionary by date
latest_dates = dict(sorted(latest_dates.items(), key=lambda item: item[1]))
latest_dates

{'South Carolina': '2016-08-31',
 'Iowa': '2018-12-31',
 'Alaska': '2019-10-01',
 'Mississippi': '2020-06-30',
 'Kentucky': '2020-12-31',
 'New Hampshire': '2021-03-22',
 'Delaware': '2021-05-31',
 'Oregon': '2021-06-26',
 'Florida': '2021-06-29',
 'Alabama': '2021-06-30',
 'Connecticut': '2021-06-30',
 'Hawaii': '2021-06-30',
 'Idaho': '2021-06-30',
 'Kansas': '2021-06-30',
 'Maine': '2021-06-30',
 'Michigan': '2021-06-30',
 'Minnesota': '2021-06-30',
 'New Jersey': '2021-06-30',
 'New Mexico': '2021-06-30',
 'South Dakota': '2021-06-30',
 'Vermont': '2021-06-30',
 'Virginia': '2021-06-30',
 'Washington': '2021-06-30',
 'Wyoming': '2021-06-30',
 'Rhode Island': '2021-08-30',
 'Colorado': '2021-08-31',
 'Georgia': '2021-08-31',
 'Illinois': '2021-08-31',
 'Indiana': '2021-08-31',
 'Massachusetts': '2021-08-31',
 'Nevada': '2021-08-31',
 'North Dakota': '2021-08-31',
 'Texas': '2021-08-31',
 'Arizona': '2021-09-30',
 'Arkansas': '2021-09-30',
 'California': '2021-09-30',
 'District Of Columbia': '2021-09-30',
 'Maryland': '2021-09-30',
 'Missouri': '2021-09-30',
 'New York': '2021-09-30',
 'North Carolina': '2021-09-30',
 'Ohio': '2021-09-30',
 'Pennsylvania': '2021-09-30',
 'Tennessee': '2021-09-30',
 'Louisiana': '2021-10-31',
 'Oklahoma': '2021-10-31',
 'Utah': '2021-10-31'}